
.logo {
    width: 7rem;
}

.titulo-fonte {
    font-family: 'Pacifico', cursive;
}


.imagem-carrosel-um {
    object-fit: cover;
    height: 500px;
    object-position: 0 80%;
}

.imagem-carrosel-dois {
    object-fit: cover;
    height: 500px;
}

.cor-branca {
    color: #FFF;
}

.cor-especial {
    color: #8b0000!important;
}

.fonte-estilo-especial {
    text-transform: uppercase;
}

.background-imagem-especial {
    background-image: url(https://images.pexels.com/photos/6605656/pexels-photo-6605656.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: no-repeat;
    background-size: cover;
}

.card-largura {
    max-width: 18rem;
}

.botao-especial {
    background-color: #8b0000;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.borda-especial {
    border-color: #8b0000;
}

.card-posicao-imagem {
    object-fit: cover;
    height: 200px;
}

#hover-especial:hover {
    color: #8b0000;
    text-decoration: underline;
}

.background-especial {
    background-color: #8b0000;
}